<div>
  <input [(ngModel)]="searchQuery" placeholder="Enter author name" (input)="onInputChange()" />
  <button (click)="search()">Search</button>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Key</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody *ngIf="realTimeSearchResults.length > 0">
    <tr *ngFor="let result of realTimeSearchResults">
      <td>{{ result.name }}</td>
      <td>{{ result.key }}</td>
      <td>
        <button (click)="selectAuthor(result.key)">View Details</button>
      </td>
    </tr>
  </tbody>

</table>